<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Common">
      <directory>tests/Common</directory>
    </testsuite>
    <testsuite name="V2.1.1">
      <directory>tests/Versions/V2_1_1</directory>
    </testsuite>
    <testsuite name="V2.2.1">
      <directory>tests/Versions/V2_2_1</directory>
    </testsuite>
  </testsuites>
</phpunit>
